input[type='button'] {
    cursor: pointer;
}
input[type='button']:hover {
    text-decoration: underline;
}

.activeButton {
    color: red;
}

.addTaskButton {
    padding: 2px;
    margin: 0;
    vertical-align: top;
    width: 18%;
    height: 26px;
    line-height: 20px;
    font-size: 18px;
    color: green;
    margin-left: -7px;
    border: 1px solid gray;
    outline: none;
}

.taskButton {
    width: 100%;
}

.link_button {
    margin: 10px 0 0 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #d8e0ed;
    color: #206624;
    width: 50%;
    cursor: pointer;
}
.link_button:first-child {
    text-align: left;
}
.link_button:last-child {
    text-align: right;
}

.link_button:hover {
    text-decoration: underline;
    color: #579cb5;
}

.reg_button {
    margin: 10px 0 0 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #d8e0ed;
    color: #206624;
    width: 100%;
    text-align: right;
    cursor: pointer;
}

.reg_button:hover {
    text-decoration: underline;
    color: #579cb5;
}
.add_list_button {
    margin: 0 0 0 -2px;
    padding: 0 10px;
    font-size: 20px;
    color: green;
}

.logOutButton {
    display: inline-block;
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.logOutButton:hover {
    color: red;
    text-decoration: underline;
}