.activeButton {
    color: red;
}

.addTaskButton {
    padding: 2px;
    margin: 0;
    vertical-align: top;
    width: 18%;
    height: 26px;
    line-height: 20px;
    font-size: 18px;
    color: green;
}

.taskButton {
    width: 100%;
}