.listContainer {
    display: inline-block;
    width: 500px;
    padding: 10px;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    background-color: #d8e0ed;
    text-align: left;
}

.listContainer > input[type='text'] {
    font-size: 1.5em;
    margin-block-start: 0.82em;
    margin-block-end: 0.81em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.proposal {
    margin-bottom: 10px;
}

.proposal label {
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(63, 53, 53);
}

.taskContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr 2fr;
    margin-bottom: 20px;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
}

.taskItem {
    display: inline-block;
    padding: 5px;
    text-align: center;
    min-height: 60px;
}

.taskText {
    word-wrap: break-word;
    overflow: auto;
}

.tasksFilter {
    text-align: center;
}

.deleteList {
    text-align: right;
}


